<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Wishlist</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Wishlist</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Wishlist Start -->
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Add to cart</th> 
                            <th scope="col">Remove</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">
                                <div class="d-flex align-items-center mt-2">
                                    <img src="img/vegetable-item-2.jpg" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                </div>
                            </td>
                            <td class="py-5">Awesome Broccoli</td>
                            <td class="py-5">$69.00</td>
                            <td class="py-5">
                                <a href="#" class="btn border border-secondary rounded-pill py-2  text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                            </td>
                            <td class="py-5">
                                <button class="btn btn-md rounded-circle bg-light border" >
                                <i class="fa fa-times text-danger"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <div class="d-flex align-items-center mt-2">
                                    <img src="img/vegetable-item-5.jpg" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                </div>
                            </td>
                            <td class="py-5">Potatoes</td>
                            <td class="py-5">$69.00</td>
                            <td class="py-5">
                                <a href="#" class="btn border border-secondary rounded-pill  py-2  text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                            </td>
                            <td class="py-5">
                                <button class="btn btn-md rounded-circle bg-light border" >
                                <i class="fa fa-times text-danger"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <div class="d-flex align-items-center mt-2">
                                    <img src="img/vegetable-item-3.png" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                </div>
                            </td>
                            <td class="py-5">Big Banana</td>
                            <td class="py-5">$69.00</td>
                            <td class="py-5">
                                <a href="#" class="btn border border-secondary rounded-pill  py-2  text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                            </td>
                            <td class="py-5">
                                <button class="btn btn-md rounded-circle bg-light border" >
                                <i class="fa fa-times text-danger"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Wishlist End -->
